@import './base.css';

html,
body,
#app {
    min-height: 100%;
    margin: 0;
}

body {
    min-width: 320px;
}

.page-background {
    background: #f5f7fb;
}

.content-wrapper {
    width: min(100%, 1200px);
    margin: 0 auto;
}
